<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.AramApps.GoranMobileApplication"
    version   = "1.0.0">
<icon src="assets/GoranPictures/icon.png" />
<plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>
<name>Goran 117</name>
<description>
ناساندنی کاندیدەکانی لیستی گۆڕان
</description>
<author href="https://www.symbiansoftgroup.com" email="drakhshani.aram@gmail.com">
جلال رشید درخشانی - ئالان صدیق
</author>
</widget>
